<section id="dist-reset-password-component">
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100dvh - 0px); background-color: #FDFEFE;">
      <div class="row w-100">
        <div class="col-12 col-lg-6 px-lg-0">
          <div class="reset-password-container-left"></div>
        </div>
        <div class="col-12 col-lg-6 p-5 d-flex align-items-center" style="background-color: #F4F7FA;">
          <div class="card border-0 bg-shadow">
            <div class="card-body bg-transparent p-5">
              <h1 class="h3 text-start fw-bold d-flex align-items-center justify-content-center gap-3">
                <div><img src="/assets/images/icons/amapokharilogo.png" alt="" style="width: 80px;"></div>
                <div>
                  <div>Ama Pokhari</div>
                </div>
              </h1>
              <div class="text-muted pt-3 text-center">
                <div class="row">
                  <div class="col-12 col-lg-12 mx-auto" style="font-size: 0.95rem;">
                    Enter the One Time Password (OTP) sent to your registered mobile number. If you see nothing is received in your inbox, just make sure to wait for sometime and retry sending a new OTP.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-12 mx-auto">
                    <form [formGroup]="resetPasswordForm" class="mt-4" (submit)="submitResetPasswordForm()">
                        <div class="row">
                            <div class="col-lg-6">                                
                                <div class="form-group mb-3">
                                    <label for="new_password" class="form-label">New Password</label>
                                    <div class="input-group">
                                    <input type="password" name="new_password" id="new_password" formControlName="new_password" class="form-control" placeholder="Enter new password">
                                    </div>
                                    <app-form-error [field]="resetPasswordForm.controls.new_password"></app-form-error>
                                </div>
                            </div>
                            <div class="col-lg-6">                                
                                <div class="form-group mb-3">
                                    <label for="new_password_confirm" class="form-label">Confirm New Password</label>
                                    <div class="input-group">
                                    <input type="password" name="new_password_confirm" id="new_password_confirm" formControlName="new_password_confirm" class="form-control" placeholder="Enter Confirm New Password">
                                    </div>
                                    <app-form-error [field]="resetPasswordForm.controls.new_password_confirm"></app-form-error>
                                </div>
                            </div>                            
                        </div>
                        <div class="row mb-3">
                          <div class="col-lg-12">                              
                            <div class="mt-3 password-criteria shadow-sm border">
                              <p class="text-sm mb-1 fw-bold text-success"><i class="fa-solid fa-shield me-1"></i> Your password must meet the following criteria:</p>
                              <hr>
                              <ul class="text-sm mb-0">
                                <li>Must be minimum 8 characters in length.</li>
                                <li>Must have at least one uppercase letter.</li>
                                <li>Must have at least one lowercase letter.</li>
                                <li>Must have at least one special character.</li>
                                <li>Must have at least one numeric digit.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-3">
                          <label for="otp" class="form-label">OTP</label>
                          <div class="input-group">
                            <input type="number" min="0" name="otp" id="otp" formControlName="otp" class="form-control" placeholder="Enter OTP">
                          </div>
                          <app-form-error [field]="resetPasswordForm.controls.otp"></app-form-error>
                          <span [ngStyle]="{'color': remainingTime === 'OTP has expired' ? 'red' : 'black'}" style="font-size: 13px;" class="mt-1">
                            {{ remainingTime }}
                          </span>
                        </div>
                        <div>
                          @if (!isFormSubmitInProgress) {
                            <button type="submit" class="btn w-100 bg-btn">
                              <i class="fa-solid fa-sign-in-alt me-1"></i> Reset Password
                            </button>
                          } @else {
                            <button type="button" disabled class="btn w-100 login-btn bg-btn">
                              Updating.. <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                            </button>
                          }
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  