

<section id="superadmin-sidebar-component">
  <div class="sidebar-menus">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a routerLink="/superadmin/portal/dashboard" routerLinkActive="active" class="nav-link collapsed">
          <i class="fa-solid fa-home me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/superadmin/portal/master" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-list me-2"></i> Master Management
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/superadmin/portal/user-role" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-users-gear me-2"></i> Roles & Permission
        </a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/superadmin/portal/manage-users" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-users me-2"></i> Manage Users
        </a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/superadmin/portal/module-master" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-users-gear me-2"></i>Module Master
        </a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="/superadmin/portal/rbac" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-users-gear me-2"></i> RBAC
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a routerLink="/superadmin/portal/activity-logs" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-history me-2"></i> Activity Logs
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a routerLink="/superadmin/portal/account" class="nav-link collapsed" routerLinkActive="active">
          <i class="fa-solid fa-circle-user me-2"></i> Account
        </a>
      </li> -->
    </ul>
  </div>

  <!-- <div id="logout-section">
      <span>Copyright &copy; {{ currentYear }} Ama Pokhari. All Rights Reserved.</span>
  </div> -->
</section>
