
<section id="superadmin-sidebar-component">
  <div class="sidebar-menus">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a routerLink="/department/portal/dashboard" routerLinkActive="active" class="nav-link collapsed">
          <i class="fa-solid fa-home me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/department/portal/application" routerLinkActive="active" class="nav-link collapsed">
          <i class="fa-solid fa-square-poll-horizontal me-2"></i> All Applications
        </a>
      </li>
    </ul>
  </div>
</section>


