.login-container-left {
    /* height: 100%;
    min-height: 100dvh;
    background-image: url('/assets/images/icons/amapokhari-login-banner.webp');
    background-size: cover;
    background-position: center; */
  }
  .bg-shadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }