<section id="superadmin-manage-user-list-component" class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <h1 class="page-title mb-0">Manage Module</h1>
            </div>
            <div class="col-6 col-md-6 text-end">
                <!-- @if(authService.userDetail?.role?.id == 5){
                    <a routerLink="/portal/manage-users/add">
                        <button class="btn bg-btn"><i class="fa-solid fa-plus me-1"></i> Add Module</button>
                    </a>
                }@else {
                    <a routerLink="/superadmin/portal/module-master/add">
                        <button class="btn bg-btn"><i class="fa-solid fa-plus me-1"></i> Add Module</button>
                    </a>
                } -->

                <a routerLink="/superadmin/portal/module-master/add">
                    <button class="btn bg-btn"><i class="fa-solid fa-plus me-1"></i> Add Module</button>
                </a>
                
            </div>
        </div>
        <div class="row mt-4 w-100 ms-0">
            <table class="table table-bordered" aria-describedby="">
                <thead>
                    <tr>
                        <th style="width: 50px">#</th>
                        <th style="width: 150px">Name</th>
                        <!-- <th style="width: 100px">User Role</th>
                        <th style="width: 150px">Email</th>
                        <th style="width: 100px">Username</th> -->
                        <th style="width: 100px">Status</th>
                        <th style="width: 100px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (users && users.length > 0) {
                        @for (user of users; track user.id; let i = $index) {
                            <tr>
                                <td class="text-center">{{ i + 1 }}</td>
                                <td>{{ user.module_alias }}</td>
                                <!-- <td>{{ user.role_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td> -->
                                @if (user.status == '1') {
                                    <td>Active</td>
                                }@else {
                                    <td>Inactive</td>
                                }
                                <td class="text-center">
                                    <!-- @if(user.id !=1){
                                        @if(authService.userDetail?.role?.id == 5){
                                            <a routerLink="/portal/manage-users/edit/{{ user.id }}" class="btn btn-sm btn-dark"><i class="fas fa-edit"></i></a>
                                        }@else {
                                            <a routerLink="/superadmin/portal/manage-users/edit/{{ user.id }}" class="btn btn-sm btn-dark"><i class="fas fa-edit"></i></a>
                                        }
                                    } -->
                                    <a routerLink="/superadmin/portal/module-master/edit/{{ user.id }}" class="btn btn-sm btn-dark"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        }

                    }@else {
                        <tr>
                            <td colspan="8" class="text-center">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
