.loader {
	width: 150px;
	height: 22px;
	border-radius: 50px;
	color: #0E6A1F;
	border: 2px solid;
	position: relative;
}

.loader::before {
	content: "";
	position: absolute;
	margin: 2px;
	inset: 0 100% 0 0;
	border-radius: inherit;
	background: #0E6A1F;
	animation: l6 2s infinite;
}

@keyframes l6 {
	100% {
		inset: 0;
	}
}
