<section id="dist-forgot-password-component">
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100dvh - 0px); background-color: #FDFEFE;">
      <div class="row w-100">
        <div class="col-12 col-lg-6 px-lg-0">
          <div class="forgot-password-container-left"></div>
        </div>
        <div class="col-12 col-lg-6 p-5 d-flex align-items-center" style="background-color: #F4F7FA;">
          <div class="card border-0 bg-shadow">
            <div class="card-body bg-transparent p-5">
              <h1 class="h3 text-start fw-bold d-flex align-items-center justify-content-center gap-3">
                <div><img src="/assets/images/icons/amapokharilogo.png" alt="" style="width: 80px;"></div>
                <div>
                  <div>Ama Pokhari</div>
                </div>
              </h1>
              <div class="text-muted pt-3 text-center">
                <div class="row">
                  <div class="col-12 col-lg-12 mx-auto" style="font-size: 0.95rem;">
                    Please provide your mobile number to receive a one-time password (OTP) for resetting your password.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-12 mx-auto">
                  <form [formGroup]="forgotPasswordForm" class="mt-4" (submit)="submitForm()">
                    <div class="form-group mb-3">
                      <label for="phone" class="form-label">Mobile</label>
                      <div class="input-group">
                        <input type="number" name="phone" id="phone" formControlName="phone" class="form-control" placeholder="Enter Mobile Number">
                      </div>
                      <app-form-error [field]="forgotPasswordForm.controls.phone"></app-form-error>
                    </div>
                    <div>
                      @if (!isFormSubmitInProgress) {
                        <button type="submit" class="btn w-100 bg-btn">
                          <i class="fa-solid fa-sign-in-alt me-1"></i> Send OTP
                        </button>
                      } @else {
                        <button type="button" disabled class="btn w-100 login-btn bg-btn">
                          Sending.. <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                        </button>
                      }
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  