<section id="superadmin-state-edit-component" class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <h1 class="page-title mb-0">Edit State</h1>
        </div>
        <div class="col-6 col-md-6 text-end">
            <a routerLink="/superadmin/portal/master/state">
                <button class="btn btn-dark"><i class="fa-solid fa-arrow-left me-1"></i> Back</button>
            </a>
        </div>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <form [formGroup]="stateFormEdit" (submit)="stateEditSubmit()">
              <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                  <label class="form-label" for="state_name">State Name</label>
                  <input type="text" id="state_name" formControlName="state_name" class="form-control">
                    <app-form-error [field]="stateFormEdit.controls.state_name"></app-form-error>
                </div>
                <div class="col-sm-6 col-md-6">
                  <label class="form-label" for="state_status">Status</label>
                  <select formControlName="state_status" id="state_status" class="form-control form-select">
                    <option value="">Select</option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                  <app-form-error [field]="stateFormEdit.controls.state_status"></app-form-error>
                </div>
            </div>
              <div class="row mb-3">
                <div class="col-sm-6 col-md-6">
                  @if (!isFormSubmitInProgress) {
                    <button type="submit" class="btn bg-btn"><i class="fa-solid fa-arrow-circle-right me-1"></i> Update</button>
                  } @else {
                    <button type="button" disabled class="btn bg-btn">
                      Updating .. <i class="fa-solid fa-spinner fa-spin ms-1"></i>
                    </button>
                  }
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  