<section id="jjb-registration-list-component">
    <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-end my-4">
            <a routerLink="/portal/jjb/jjb-registration/form-1" routerLinkActive="active">
                <button class="btn btn-style">Register Child</button>
            </a>
          </div>
        </div>
        <div class="accordion mt-4" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Filter
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
                        <div class="row">
                          <div class="col-sm-6 col-md-4">
                            <label class="form-label" for="status">Status</label>
                            <select id="status" formControlName="status" class="form-control form-select">
                              <option value="">Select Status</option>
                              <option value="0">Draft</option>
                              <option value="1">Submitted</option>
                            </select>
                            <app-form-error [field]="searchForm.controls.status"></app-form-error>
                          </div>
                          <div class="col-sm-6 col-md-6" style="margin-top: 30px;">
                            @if (!isFormSearchInProgress) {
                                <button type="submit" class="btn bg-btn"><i class="fa-solid fa-arrow-circle-right me-1"></i> Search</button>
                            }@else{
                                <button type="submit" disabled class="btn bg-btn"><i class="fa-solid fa-arrow-circle-right me-1"></i> Searching ...</button>
                            }
                            <button type="reset" class="btn cancel-btn mx-2"><i class="fa-solid fa-sync me-1"></i> Reset</button>
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
        <div class="card mt-3 position-relative bg-white">
          <div class="card-body">
            <div class="my-1 mb-2 register-child">Registered Child List</div>
            <div class="row mt-4 w-100 ms-0">
              <div *ngIf="!isDataLoading">
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Case Type.</th>
                            <th scope="col">Child Regd. No</th>
                            <th scope="col">Date of Registration</th>
                            <th scope="col">Child Name</th>
                            <th scope="col">District</th>
                            <th scope="col">Reported Agency</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let jjb_list of all_jjb_list | paginate: { itemsPerPage: 10, currentPage: page }; let i = index" class="text-center">
                              <td>{{ i + 1 + (page - 1) * 10 }}</td>
                              <td>{{ jjb_list.case_type }}</td>
                              <td>{{ jjb_list.Child_reg_no }}</td>
                              <td>{{ jjb_list.date_of_prod }}</td>
                              <td>{{ jjb_list.child_name }}</td>
                              <td>{{ jjb_list.district }}</td>
                              <td>{{ jjb_list.reported_agency }}</td>
                              <td [ngClass]="{'text-danger': jjb_list.status == '0','text-success': jjb_list.status == '1'}">
                                {{ jjb_list.status == '0' ? 'Draft' : 'Submitted' }}
                              </td>
                              <td class="text-center">
                                <a routerLink="/portal/jjb/jjb-registration/form-1/{{ jjb_list.draft_id }}" class="btn btn-sm btn-dark" *ngIf="jjb_list.status == '0'"><i class="fas fa-edit"></i></a>
                            </td>
                          </tr>
                          <tr *ngIf="all_jjb_list.length === 0">
                              <td colspan="4" class="text-center">No data available</td>
                          </tr>
                      </tbody>
                  </table>
                  <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
              <div *ngIf="isDataLoading" class="text-center text-muted">
                  Loading.. <i class="fa-solid fa-spinner fa-spin ms-1"></i>
              </div>
          </div>
            <!-- <div class="table-responsive">
              @if (!isDataLoading) {
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">Case Type.</th>
                    <th scope="col">Child Regd. No</th>
                    <th scope="col">Date of Registration</th>
                    <th scope="col">Child Name</th>
                    <th scope="col">District</th>
                    <th scope="col">Reported Agency</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @if (all_jjb_list && all_jjb_list.length > 0) {
                      @for (jjb_list of all_jjb_list; track jjb_list.id; let i = $index) {
                          <tr>
                              <td class="text-center">{{ i + 1 }}</td>
                              <td>{{ jjb_list.case_type }}</td>
                              <td>{{ jjb_list.Child_reg_no }}</td>
                              <td>{{ jjb_list.date_of_prod }}</td>
                              <td>{{ jjb_list.child_name }}</td>
                              <td>{{ jjb_list.district }}</td>
                              <td>{{ jjb_list.reported_agency }}</td>
                              @if (jjb_list.status == '0') {
                                <td>Active</td>
                              } @else {
                                <td>InActive</td>
                              }
                              <td class="text-center">
                                  <a routerLink="/portal/jjb/jjb-registration/form-1/{{ jjb_list.draft_id }}" class="btn btn-sm btn-dark"><i class="fas fa-edit"></i></a>
                              </td>
                          </tr>
                      }
                  }@else{
                      <tr>
                          <td colspan="4" class="text-center">No data available</td>
                      </tr>
                  }
                </tbody>
              </table>
            } @else {
              <div class="text-center text-muted">
                Loading.. <i class="fa-solid fa-spinner fa-spin ms-1"></i>
              </div>
            }
            </div> -->
          </div>
        </div>
      </div>
</section>
